---
import Layout from "../../layouts/Layout.astro";

import { tursodb } from "@r/astro.config.mjs";
import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
import Contacts from "@comp/Contacts.astro";
import BackBtn from "@comp/BackBtn.astro";
import Popup from "@comp/Popup.astro";
import Instituto from "@comp/Cards/Instituto.astro";
import Grupo from "@comp/Cards/Grupo.astro";

const { id } = Astro.params;

const { rows } = await tursodb.execute({
    sql: `SELECT * FROM alumno WHERE alumno_id = $id;`,
    args: {
        id: id,
    },
}); 

const alumno = rows[0];

if (!alumno) {
    console.log("No hay registro con ese valor");
    return Astro.redirect("/404");
}

// const alumno = {
//     alumno_id: id,
//     nombre: `Alumno ${id}`,
//     apellidos: `Apellidos ${id}`,
//     telefono: `6666666${id}`,
//     fecha_nacimiento: `2000-01-01`,
//     email: `alumno${id}@alumno.com`,
//     nif: `B12345678${id}`,
//     nia: `B12345678${id}`,
//     nuss: `B12345678${id}`,
//     comentarios: `comentarios ${id}`,
//     fecha_creacion: `2000-01-01`,
//     fecha_actualizacion: `2000-01-01`,
//     activo: true,
//     grupo_id: 1,
//     instituto_id: 0,
// };
/* alumno_id, nombre, apellidos, telefono, fecha_nacimiento, email, nif, nia, nuss, comentarios, fecha_creacion, fecha_actualizacion, activo, grupo_id, instituto_id */
---

<Layout title="Informaci贸n de la alumno" kind={1}>
    <Header />
    <main class="flex justify-center items-center grid-flow-col gap-10">
        { alumno &&
        <div
            class="grid grid-cols-2 grid-rows-5 gap-2 py-10 px-8 bg-gray-300 rounded-lg shadow-md w-fit"
        >
            <div class="col-span-2 text-center">
                {
                    alumno.activo ? (
                        <h2 class="text-2xl font-semibold mb-2 text-green-500">
                            Informaci贸n
                        </h2>
                    ) : (
                        <h2 class="text-2xl font-semibold mb-2 text-red-500">
                            Informaci贸n
                        </h2>
                    )
                }
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Nombre</h2>
                <p class="text-gray-700">{alumno.nombre}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Apellidos</h2>
                <p class="text-gray-700">{alumno.apellidos}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Telefono</h2>
                <p class="text-gray-700">{alumno.telefono}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Fecha de nacimiento</h2>
                <p class="text-gray-700">{alumno.fecha_nacimiento}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Email</h2>
                <p class="text-gray-700">{alumno.email}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">NIF</h2>
                <p class="text-gray-700">{alumno.nif}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">NIA</h2>
                <p class="text-gray-700">{alumno.nia}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">NUSS</h2>
                <p class="text-gray-700">{alumno.nif}</p>
            </div>
            <div class="col-span-2">
                <h2 class="text-xl font-semibold mb-2">Comentarios</h2>
                <p class="text-gray-700">{alumno.comentarios}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Fecha de Creaci贸n</h2>
                <p class="text-gray-700">{alumno.fecha_creacion}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">
                    Fecha de Actualizaci贸n
                </h2>
                <p class="text-gray-700">{alumno.fecha_actualizacion}</p>
            </div>
            <div class="flex justify-center space-x-2 col-span-2 mt-6">
                {
                    alumno.activo ? (
                        <a
                            class="opacity-50 bg-blue-500 hover:bg-blue-600 text-white rounded px-3 py-1 transition-colors duration-300 cursor-not-allowed"
                        >
                            Crear practicas ()
                        </a>
                        <a
                            href=`/alumno/editar/${alumno.alumno_id}`
                            class="bg-blue-500 hover:bg-blue-600 text-white rounded px-3 py-1 transition-colors duration-300"
                        >
                            Editar
                        </a>
                        <button
                            id="btnDesactivar"
                            type="button"
                            class="bg-red-500 hover:bg-red-600 text-white rounded px-3 py-1 transition-colors duration-300"
                        >
                            Desactivar
                        </button>
                    ) : (
                    <button
                            id="btnActivar"
                            type="button"
                            class="bg-green-500 hover:bg-green-600 text-white rounded px-3 py-1 transition-colors duration-300"
                        >
                            Activar
                        </button>
                    )
                }
                <BackBtn />
            </div>
            <span id="alumno_id" class="hidden">{alumno.alumno_id}</span>
        </div>
        }
        <div class="flex flex-col gap-2">
            <Instituto instituto_id={alumno.instituto_id} />
            <Grupo grupo_id={alumno.grupo_id} />
        </div>
        <Popup
            title="驴Est谩 seguro de desactivar el alumno?"
            url=`/alumno/desactivar/${alumno.alumno_id}`
        />
    </main>
    <Footer />
</Layout>

<script is:inline type="module">
    import { apiurl, data } from "/utils.js";

    let btnDesactivar = document.querySelector("#btnDesactivar");
    let btnActivar = document.querySelector("#btnActivar");
    let popup = document.querySelector("#popup");
    let btnAceptar = document.querySelector("#btnconfirm");
    let id_alu = document.querySelector("#id_alumno");

    if (btnDesactivar) {
        btnDesactivar.addEventListener("click", () => {
            popup.style.display = "grid";
        });
    }

    data.id_alumno = parseInt(id_alu.textContent)

    const cambiarEstado = async (estado) => {
        data.activo = estado;
        const response = await fetch(apiurl + "/alumno", {
            method: "PUT",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });
        alert((await response.json()).message);
        if (response.ok) {
            window.location.reload();
        }
    };

    if (btnDesactivar) {
        btnDesactivar.addEventListener("click", () => {
            popup.style.display = "grid";
        });
        btnAceptar.addEventListener("click", () => {
            popup.style.display = "none";
            cambiarEstado(false);
        });
    }

    if (btnActivar) {
        btnActivar.addEventListener("click", () => {
            cambiarEstado(true);
        });
    }
</script>
