---
import Layout from "@lay/Layout.astro";
import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
import FormElement from "@comp/FormElement.astro";
import BackBtn from "@comp/BackBtn.astro";
import prisma from "@db/index.js";

const grupos = await prisma.grupo.findMany({
    include: {
        instituto: true,
    },
});
const institutos = await prisma.instituto.findMany();
const cursos = await prisma.curso.findMany();

/* id_alumno, nombre*, apellidos, telefono, direccion, fecha_nacimiento, email*, nif, nia, nuss, comentarios, activo*, fecha_creacion*, fecha_actualizacion */
---

<Layout title="Nuevo alumno" kind={1}>
    <Header />
    <main class="grid place-content-center">
        <form
            class="bg-gray-300 rounded-lg shadow-md w-fit py-10 px-8 flex flex-col"
            id="formnew"
        >
            <fieldset class="grid grid-cols-2 gap-2 py-5 px-4">
                <legend
                    class="px-1.5 bg-[#476683] rounded-md text-white text-center text-2xl font-semibold"
                    >Añade un nuevo alumno</legend
                >
                <FormElement
                    texto="nombre"
                    placehold="Sergio"
                    isrequired={true}
                />
                <FormElement texto="apellidos" placehold="Vico" />
                <FormElement texto="telefono" placehold="123456789" />
                <FormElement texto="fecha_nacimiento" type="date" />
                <FormElement
                    texto="direccion"
                    placehold="Calle 1"
                    classes="col-span-2"
                />
                <FormElement
                    texto="email"
                    placehold="servicpin2@alu.edu.gva.es"
                    type="email"
                    isrequired={true}
                />
                <FormElement texto="nif" placehold="12345678A" />
                <FormElement texto="nia" placehold="12345678" />
                <FormElement texto="nuss" placehold="123456789123" />
                <FormElement
                    classes="w-full"
                    texto="comentarios"
                    placehold="..."
                    type="textarea"
                />
                <div
                    class="flex flex-col p-2 gap-1.5 bg-gray-400 rounded-lg shadow-md drop-shadow-md"
                >
                    <label for="id_instituto"
                        >Instituto <span class="text-red-600 font-bold">*</span
                        ></label
                    >
                    <input
                        class="bg-gray-700 border border-gray-400 text-white text-sm rounded-lg p-1.5"
                        type="text"
                        id="id_instituto"
                        list="institutos"
                    />
                </div>
                <div
                    class="flex flex-col p-2 gap-1.5 bg-gray-400 rounded-lg shadow-md drop-shadow-md"
                >
                    <label for="id_grupo"
                        >Grupo <span class="text-red-600 font-bold">*</span
                        ></label
                    >
                    <input
                        class="bg-gray-700 border border-gray-400 text-white text-sm rounded-lg p-1.5 disabled:cursor-not-allowed disabled:bg-gray-800"
                        type="text"
                        id="id_grupo"
                        list="grupos"
                        disabled
                    />
                </div>
                <div
                    class="flex flex-col p-2 gap-1.5 bg-gray-400 rounded-lg shadow-md drop-shadow-md"
                >
                    <label for="id_curso"
                        >Curso <span class="text-red-600 font-bold">*</span
                        ></label
                    >
                    <input
                        class="bg-gray-700 border border-gray-400 text-white text-sm rounded-lg p-1.5 disabled:cursor-not-allowed disabled:bg-gray-800"
                        type="text"
                        id="id_curso"
                        list="cursos"
                    />
                </div>
                <datalist id="institutos">
                    {
                        institutos.map(({ nombre, id_instituto }) => (
                            <option value={`${nombre} (${id_instituto})`} />
                        ))
                    }
                </datalist>
                <datalist id="grupos"></datalist>
                <datalist id="cursos">
                    {
                        cursos.map(({ anio_academico, id_curso }) => (
                            <option value={`${anio_academico} (${id_curso})`} />
                        ))
                    }
                </datalist>
            </fieldset>
            <div class="text-center">
                <button
                    type="submit"
                    id="btnsubmit"
                    class="mx-auto bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-sm px-2 py-2 transition-colors"
                    >Añadir nuevo alumno</button
                >
                <BackBtn />
            </div>
        </form>
    </main>
    <div id="grupos-data" data-grupos={JSON.stringify(grupos)}></div>
    <Footer />
</Layout>

<script is:inline type="module">
    import { apiurl, data } from "/utils.js";
    const form = document.querySelector("form");

    async function sendData(e) {
        e.preventDefault();
        let name = form.nombre.value;
        if (!name) {
            alert("El nombre del alumno es obligatorio.");
            return;
        }

        data.nombre = name;
        data.apellidos = form.apellidos.value;
        data.telefono = form.telefono.value;
        data.fecha_nacimiento = form.fecha_nacimiento.value;
        data.email = form.email.value;
        data.direccion = form.direccion.value;
        data.nif = form.nif.value;
        data.nia = form.nia.value;
        data.nuss = form.nuss.value;
        data.comentarios = form.comentarios.value;
        data.id_grupo = parseInt(form.id_grupo.value.match(/\(([^)]+)\)/)[1]);
        data.id_instituto = parseInt(
            form.id_instituto.value.match(/\(([^)]+)\)/)[1],
        );
        data.id_curso = parseInt(form.id_curso.value.match(/\(([^)]+)\)/)[1]);

        Object.keys(data).forEach((key) => {
            if (data[key] == "") data[key] = null;
        });

        console.log(data);

        const response = await fetch(apiurl + "/alumno", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });

        if (response.ok) {
            const json = await response.json();
            alert(json.message);
            window.location.reload();
        }
    }

    form.addEventListener("submit", sendData);

    const institutoInput = document.getElementById("id_instituto");
    const grupoInput = document.getElementById("id_grupo");
    const gruposDatalist = document.getElementById("grupos");

    const gruposData = JSON.parse(
        document.getElementById("grupos-data").dataset.grupos,
    );

    institutoInput.addEventListener("input", () => {
        console.log(institutoInput.value);
        const selectedInstituto = institutoInput.value;
        const selectedInstitutoId = selectedInstituto.match(/\(([^)]+)\)/)[1]; 

        gruposDatalist.innerHTML = "";
        grupoInput.disabled = true;

        const filteredGroups = gruposData.filter(
            (group) => group.id_instituto == selectedInstitutoId,
        );

        filteredGroups.forEach(({ nombre, id_grupo }) => {
            const option = document.createElement("option");
            option.value = `${nombre} (${id_grupo})`;
            gruposDatalist.appendChild(option);
        });

        if (filteredGroups.length > 0) {
            grupoInput.disabled = false;
        }
    });
</script>
