---
import Layout from "../../layouts/Layout.astro";
import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
import prisma from "@db/index.js";

let { perfil } = Astro.params;

// const { rows } = await tursodb.execute({
//     sql: `SELECT u.usuario, u.activo, p.email, p.nombre, p.apellidos, p.telefono, p.nif, p.nip, p.comentarios
//     FROM usuario as u, profesor as p
// WHERE u.usuario_id = p.usuario_id
//   AND u.usuario = $usuario;`,
//     args: {
//         usuario: perfil,
//     },
// });

const user = await prisma.usuario.findFirst({
    where: {
        usuario: perfil,
    },
    include: {
        profesor: true,
    },
});

if (!user) {
    console.log("No existe usuario");
    return Astro.redirect("/404");
}
---

<span id="hperfil" class="hidden">{perfil}</span>
<script is:inline type="module">
    let user = localStorage.getItem("user"),
        perfil = document.querySelector("#hperfil");
    if (user != perfil.textContent) window.location.href = "/404";
</script>
<Layout title="Tu Perfil" kind={1}>
    <Header />
    <main class="grid place-content-center">
        <div
            class="max-w-3xl mx-auto bg-white rounded-lg shadow-md overflow-hidden"
        >
            <div class="px-6 py-4 bg-gray-800 text-white">
                <h1 class="text-2xl font-bold">Perfil de Usuario</h1>
            </div>
            <div class="p-6">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
                    <div>
                        <h2 class="text-lg font-semibold mb-2">Usuario</h2>
                        <p class="text-gray-700">{user.usuario}</p>
                    </div>
                    <div>
                        <h2 class="text-lg font-semibold mb-2">Nombre</h2>
                        <p class="text-gray-700">{user.profesor.nombre}</p>
                    </div>
                    <div>
                        <h2 class="text-lg font-semibold mb-2">Apellidos</h2>
                        {
                            user.profesor.apellidos ? (
                                <p class="text-gray-700">
                                    {user.profesor.apellidos}
                                </p>
                            ) : (
                                <p class="text-gray-700 italic">
                                    Sin apellidos
                                </p>
                            )
                        }
                    </div>
                    <div>
                        <h2 class="text-lg font-semibold mb-2">Teléfono</h2>
                        {
                            user.profesor.telefono ? (
                                <p class="text-gray-700">
                                    +34 {user.profesor.telefono}
                                </p>
                            ) : (
                                <p class="text-gray-700 italic">Sin telefono</p>
                            )
                        }
                    </div>
                    <div>
                        <h2 class="text-lg font-semibold mb-2">Email</h2>
                        <p class="text-gray-700">{user.email}</p>
                    </div>
                    <div>
                        <h2 class="text-lg font-semibold mb-2">NIF</h2>
                        {
                            user.profesor.nif ? (
                                <p class="text-gray-700">{user.profesor.nif}</p>
                            ) : (
                                <p class="text-gray-700 italic">Sin NIF</p>
                            )
                        }
                    </div>
                    <div>
                        <h2 class="text-lg font-semibold mb-2">NIP</h2>
                        {
                            user.profesor.nip ? (
                                <p class="text-gray-700">{user.profesor.nip}</p>
                            ) : (
                                <p class="text-gray-700 italic">Sin NIP</p>
                            )
                        }
                    </div>
                </div>
            </div>
            <div class="flex justify-center space-x-2 mb-4">
                <a
                    href=`/perfil/editar/${user.usuario}`
                    class="bg-blue-500 hover:bg-blue-600 text-white rounded px-3 py-1 transition-colors duration-300 cursor-pointer"
                >
                    Editar Perfil
                </a>
            </div>
        </div>
    </main>
    <Footer />
</Layout>
