---
import Layout from "@lay/Layout.astro";
import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
import BackBtn from "@comp/BackBtn.astro";
import Side from "@comp/Side.astro";
import prisma from "@db/index.js";

const { id } = Astro.params;

if (!Number(id)) {
    console.log("Id no válido")
    return Astro.redirect("/404");
}

const instituto = await prisma.instituto.findUnique({
    where: {
        id_instituto: Number(id),
    },
    include: {
        grupos: true
    }
});

if (!instituto) {
    console.log("No hay registro con ese valor");
    return Astro.redirect("/404");
}

/* id_instituto, nombre*, descripcion, direccion, sitio_web, telefono, comentarios, fecha_creacion, fecha_actualizacion */
---

<Layout title="Información del instituto" kind={1}>
    <Header />
    <main class="flex justify-center items-center grid-flow-col gap-10">
        { instituto &&
        <div
            class="grid grid-cols-2 grid-rows-5 gap-2 py-10 px-8 bg-gray-300 rounded-lg shadow-md w-fit"
        >
            <div class="col-span-2 text-center">
                <h2 class="text-2xl font-semibold mb-2">
                    Información
                </h2>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Nombre</h2>
                <p class="text-gray-700">{instituto.nombre}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Descripción</h2>
                <p class="text-gray-700">{instituto.descripcion}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Dirección</h2>
                <p class="text-gray-700">{instituto.direccion}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Sitio web</h2>
                <p class="text-gray-700"><a href=`${instituto.sitio_web}` class="text-blue-500 hover:underline">{instituto.sitio_web}</a></p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Teléfono</h2>
                <p class="text-gray-700">{instituto.telefono}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Comentarios</h2>
                <p class="text-gray-700">{instituto.comentarios}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Fecha de Creación</h2>
                <p class="text-gray-700">{new Date(instituto.fecha_creacion).toLocaleString("es-ES")}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">
                    Fecha de Actualización
                </h2>
                <p class="text-gray-700">{new Date(instituto.fecha_actualizacion as Date).toLocaleString("es-ES")}</p>
            </div>
            <div class="flex justify-center space-x-2 col-span-2 mt-6">
                <a
                    href=`/instituto/editar/${instituto.id_instituto}`
                    class="bg-blue-500 hover:bg-blue-600 text-white rounded px-3 py-1 transition-colors duration-300"
                >
                    Editar
                </a>
                <BackBtn />
            </div>
            <span id="id_instituto" class="hidden">{instituto.id_instituto}</span>
        </div>
        }
        <Side title="Grupos" object={instituto.grupos}/>
    </main>
    <Footer />
</Layout>