---
import Layout from "../../layouts/Layout.astro";

import { tursodb } from "@r/astro.config.mjs";
import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
import BackBtn from "@comp/BackBtn.astro";

const { id } = Astro.params;

let instituto = null;
try {
    const { rows } = await tursodb.execute({
        sql: `SELECT * FROM instituto WHERE instituto_id = $id;`,
        args: {
            id: id,
        },
    }); 
   /*  let rows = [
    {
        instituto_id: 1,
        nombre: "Instituto 1",
        descripcion: "Descripción 1",
        telefono: "123456789",
        direccion: "Calle 1",
        sitio_web: "www.instituto1.com",
        comentarios: "Comentarios 1",
        fecha_creacion: "2023-01-01",
        fecha_actualizacion: "2023-01-01",
    }
] */

    instituto = rows[0];
} catch (error) {
    console.log(error);
    instituto = null;
}

if (!instituto) {
    console.log("No hay registro con ese valor");
    return Astro.redirect("/404");
}

/* instituto_id, nombre, descripcion, direccion, sitio_web, telefono, comentarios, fecha_creacion, fecha_actualizacion */
---

<Layout title="Información de la instituto" kind={1}>
    <Header />
    <main class="flex justify-center items-center grid-flow-col gap-10">
        { instituto &&
        <div
            class="grid grid-cols-2 grid-rows-5 gap-2 py-10 px-8 bg-gray-300 rounded-lg shadow-md w-fit"
        >
            <div class="col-span-2 text-center">
                <h2 class="text-2xl font-semibold mb-2">
                    Información
                </h2>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Nombre</h2>
                <p class="text-gray-700">{instituto.nombre}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Descripción</h2>
                <p class="text-gray-700">{instituto.descripcion}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Dirección</h2>
                <p class="text-gray-700">{instituto.direccion}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Sitio web</h2>
                <p class="text-gray-700"><a href=`${instituto.sitio_web}` class="text-blue-500 hover:underline">{instituto.sitio_web}</a></p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Telefono</h2>
                <p class="text-gray-700">{instituto.telefono}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Comentarios</h2>
                <p class="text-gray-700">{instituto.comentarios}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Fecha de Creación</h2>
                <p class="text-gray-700">{instituto.fecha_creacion}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">
                    Fecha de Actualización
                </h2>
                <p class="text-gray-700">{instituto.fecha_actualizacion}</p>
            </div>
            <div class="flex justify-center space-x-2 col-span-2 mt-6">
                <a
                    href=`/instituto/editar/${instituto.instituto_id}`
                    class="bg-blue-500 hover:bg-blue-600 text-white rounded px-3 py-1 transition-colors duration-300"
                >
                    Editar
                </a>
                <BackBtn />
            </div>
            <span id="instituto_id" class="hidden">{instituto.instituto_id}</span>
        </div>
        }
    </main>
    <Footer />
</Layout>

<script>
    /* let btnDesactivar = document.getElementById("btnDesactivar");
    let btnActivar = document.getElementById("btnActivar");
    let popup = document.getElementById("popup");
    let btnAceptar = document.getElementById("btnconfirm");
    let pra_id = document.getElementById("instituto_id");
    let url = `http://${window.location.hostname}:${window.location.port}/api/instituto/switch`;

    if (btnDesactivar) {
        btnDesactivar.addEventListener("click", () => {
            popup.style.display = "grid";
        });
    }

    if (btnAceptar) {
        btnAceptar.addEventListener("click", async () => {
            popup.style.display = "none";

            let data = {
                instituto_id: pra_id.textContent,
                activo: 0,
            }

            const response = await fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });
        alert((await response.json()).message);
        if (response.ok) {
            window.location.reload();
        }
        });
    }
    if (btnActivar) {
        btnActivar.addEventListener("click", async () => {
            let data = {
                instituto_id: pra_id.textContent,
                activo: 1,
            }

            const response = await fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });
        alert((await response.json()).message);
        if (response.ok) {
            window.location.reload();
        }
        });
    } */
</script>
