---
import Layout from "@lay/Layout.astro";
import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
import BackBtn from "@comp/BackBtn.astro";
import Popup from "@comp/Popup.astro";
import InfoDivs from "@comp/InfoDivs.astro";
import prisma from "@db/index.js";

const { id } = Astro.params;

if (!Number(id)) {
    console.log("Id no válido");
    return Astro.redirect("/404");
}

const interaccion = await prisma.interaccion.findUnique({
    where: {
        id_interaccion: Number(id),
    },
    include: {
        contacto: true,
        empresa: true,
    },
});

if (!interaccion) {
    console.log("No hay registro con ese valor");
    return Astro.redirect("/404");
}

/* id_interaccion, descripcion, tipo, estado*, comentarios, fecha_interaccion, fecha_creacion*, fecha_actualizacion, id_empresa*, id_contacto */
---

<Layout title="Detalles de la interacción" kind={1}>
    <Header />
    <main
        class="flex justify-center items-center grid-flow-col gap-10"
        id={interaccion.id_interaccion.toString()}
    >
        <div
            class="bg-gray-300 rounded-lg shadow-md w-fit pb-5 pt-2 px-8 flex flex-col"
        >
            <div class="grid grid-cols-2 gap-2 py-5 px-4">
                <h2
                    class="bg-[#476683] rounded-md text-white text-2xl font-semibold col-span-2 w-fit mx-auto px-2.5 mb-3"
                >
                    Detalles de una interacción
                </h2>
                <InfoDivs title="Nombre" value={interaccion.empresa.nombre} />
                <InfoDivs
                    title="Nombre Empresarial"
                    value={interaccion.empresa.nombre_empresarial}
                />
                <InfoDivs
                    title="Dirección"
                    value={interaccion.empresa.direccion}
                />
                <InfoDivs title="CIF" value={interaccion.empresa.cif} />
                <hr class="border-black border-solid col-span-2 my-2" />
                {
                    interaccion.contacto ? (
                        <>
                            <InfoDivs
                                title="Nombre"
                                value={interaccion.contacto.nombre}
                            />
                            <InfoDivs
                                title="Apellidos"
                                value={interaccion.contacto.apellidos}
                            />
                            <InfoDivs
                                title="Teléfono"
                                value={interaccion.contacto.telefono}
                            />
                            <InfoDivs
                                title="Email"
                                value={interaccion.contacto.email}
                            />
                        </>
                    ) : (
                        <i>Sin Contacto</i>
                    )
                }
                <hr class="border-black border-solid col-span-2 my-2" />
                <InfoDivs title="Descripción" value={interaccion.descripcion} />
                <InfoDivs title="Tipo" value={interaccion.tipo} />
                <InfoDivs title="Estado" value={interaccion.estado} />
                <div>
                    <h2 class="text-xl font-semibold mb-2">
                        Fecha de la interacción
                    </h2>
                    <p class="text-gray-700">
                        {
                            new Date(interaccion.fecha_interaccion as Date)
                                .toLocaleString("es-ES")
                                .replace(",", "")
                        }
                    </p>
                </div>
                {
                    interaccion.comentarios && (
                        <InfoDivs
                            title="Comentarios"
                            value={interaccion.comentarios}
                            classes="col-span-2"
                        />
                    )
                }
                <hr class="border-black border-solid col-span-2 my-2" />
                <div>
                    <h2 class="text-xl font-semibold mb-2">Creación</h2>
                    <p class="text-gray-700">
                        {
                            new Date(interaccion.fecha_creacion)
                                .toLocaleString("es-ES")
                                .replace(",", "")
                        }
                    </p>
                </div>
                <div>
                    <h2 class="text-xl font-semibold mb-2">Actualización</h2>
                    <p class="text-gray-700">
                        {
                            new Date(interaccion.fecha_actualizacion as Date)
                                .toLocaleString("es-ES")
                                .replace(",", "")
                        }
                    </p>
                </div>
            </div>
            <div
                class="flex items-center justify-center space-x-2 col-span-2 mt-2"
            >
                <a
                    href={`/interaccion/editar/${interaccion.id_interaccion}`}
                    class="bg-blue-500 hover:bg-blue-600 text-white rounded px-3 py-1 transition-colors duration-300"
                >
                    Editar
                </a>
                <button
                    id="btnEliminar"
                    type="button"
                    class="bg-red-500 hover:bg-red-600 text-white rounded px-3 py-1 transition-colors duration-300"
                >
                    Eliminar
                </button>
                <BackBtn title="Los cambios no se guardaran" />
            </div>
        </div>
        <Popup title="¿Está seguro de eliminar la interacción?" jdelete={true}>
            <span class="text-red-600"> Esta acción es irreversible. </span>
        </Popup>
    </main>
    <Footer />
</Layout>

<script is:inline type="module">
    import { apiurl, data } from "/utils.js";
    const btnEliminar = document.querySelector("#btnEliminar");
    const popup = document.querySelector("#popup");
    const btnAceptar = document.querySelector("#btnconfirm");
    const main = document.querySelector("main");

    if (btnEliminar) {
        btnEliminar.addEventListener("click", () => {
            popup.style.display = "grid";
        });
    }

    data.id_interaccion = parseInt(main.id);

    if (btnAceptar) {
        btnAceptar.addEventListener("click", async () => {
            popup.style.display = "none";

            const response = await fetch(apiurl + "/interaccion", {
                method: "DELETE",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(data),
            });
            alert((await response.json()).message);
            if (response.ok) {
                window.location.href = "/interaccion";
            }
        });
    }
</script>
