---
import Layout from "@lay/Layout.astro";
import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
import BackBtn from "@comp/BackBtn.astro";
import Empresas from "@comp/Empresas.astro";
import prisma from "@db/index.js";

const rows = await prisma.contacto_Empresa.findMany({
    include: {
        contacto: true,
        empresa: true,
    },
})

/* id_contacto_empresa, puesto, fecha_creacion, fecha_actualizacion, id_contacto*, id_empresa* */
---

<Layout title="Lista de vínculos">
    <Header />
    <div class="flex justify-between w-full px-5 py-2 h-fit">
        <h2 class="text-3xl">Listado de vínculos</h2>
        <div class="flex gap-4">
            <Empresas isrequired={false} />(🚧)
            <input
                id="busqueda"
                class="bg-gray-700 border border-gray-300 text-white text-sm rounded-lg p-1.5"
                type="text"
                placeholder="Contacto o empresa"
            />
            <button
                id="btnbuscar"
                type="button"
                class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-sm px-2 py-2 transition-colors"
                >Buscar</button
            >
            <a
                href="/vinculo/nuevovinculo"
                class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-sm px-2 py-2 transition-colors"
                >Nuevo vínculo</a
            >
            <BackBtn />
        </div>
    </div>
    <main class="px-20 py-5">
        <div
            class="max-h-[68vh] overflow-y-auto shadow-md rounded-lg"
        >
        { rows.length > 0 ? (
            <table class="min-w-full bg-white overflow-y-auto">
                <thead class="bg-gray-100">
                    <tr class="border-b-2 border-black border-solid">
                        <th
                            class="px-4 py-3 text-left text-sm font-semibold text-gray-600"
                            >Contacto</th
                        >
                        <th
                            class="px-4 py-3 text-left text-sm font-semibold text-gray-600"
                            >Empresa</th
                        >
                        <th
                            class="px-4 py-3 text-left text-sm font-semibold text-gray-600"
                            >Estado</th
                        >
                        <th
                            class="px-4 py-3 text-center text-sm font-semibold text-gray-600"
                            >Acciones</th
                        >
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {
                        rows.map((vinculo) => (
                            <tr class="hover:bg-gray-100" data-active>
                                <td class="px-4 py-3 text-sm text-gray-900">{vinculo.contacto.nombre}</td>
                                <td class="px-4 py-3 text-sm text-gray-900">{vinculo.empresa.nombre}</td>
                                <td class="px-4 py-3 text-sm text-gray-500">{vinculo.puesto}</td>
                                <td class="px-4 py-3 text-sm text-right">
                                    <div class="flex justify-center space-x-2">
                                        <a
                                            href=`/vinculo/editar/${vinculo.id_contacto_empresa}`
                                            class="bg-blue-500 hover:bg-blue-600 text-white rounded px-3 py-1 transition-colors duration-300">
                                            Editar
                                        </a>
                                        <a
                                        href=`/vinculo/${vinculo.id_contacto_empresa}`
                                        class="bg-gray-500 hover:bg-gray-600 text-white rounded px-3 py-1 transition-colors duration-300">
                                            Detalles
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        ))
                    }
                </tbody>
            </table>
            ) : (
                <h3 class="py-10 text-center text-red-500 text-3xl">No hay vínculos registrados</h3>
            )}
        </div>
    </main>
    <Footer />
</Layout>
<script is:inline type="module">
    const inputBusqueda = document.querySelector("#busqueda");
    const btnBusqueda = document.querySelector("#btnbuscar");
    const allrows = document.querySelectorAll("tr[data-active]");

    if (btnBusqueda) {
        btnBusqueda.addEventListener("click", () => {
            const textoBusqueda = inputBusqueda.value.toLowerCase();
            allrows.forEach(row => {
                let textoCelda = row.querySelector("td").textContent.toLowerCase();
                let textoCelda2 = row.querySelector("td:nth-child(2)").textContent.toLowerCase();
                if (textoCelda.includes(textoBusqueda) || textoCelda2.includes(textoBusqueda)) {
                    row.classList.remove("hidden");
                } else {
                    row.classList.add("hidden");
                }
            });
        });
    }

    if (inputBusqueda) {   
        inputBusqueda.addEventListener("keydown", (e) => {
            if (e.key === "Enter") {
                btnBusqueda.click();
            }
        });
    }

</script>
