---
import Layout from "../../layouts/Layout.astro";

import { tursodb } from "@r/astro.config.mjs";
import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
import BackBtn from "@comp/BackBtn.astro";
import Popup from "@comp/Popup.astro";

const { id } = Astro.params;

const { rows } = await tursodb.execute({
    sql: `SELECT pae.*, a.nombre as anombre, a.alumno_id, e.nombre as enombre, e.empresa_id FROM pro_alu_emp pae, alumno a, empresa e WHERE pae.alumno_id = a.alumno_id AND pae.empresa_id = e.empresa_id AND pro_alu_emp_id = $id;`,
    args: {
        id: id,
    },
}); 

const practica = rows[0];

if (!practica) {
    console.log("No hay registro con ese valor");
    return Astro.redirect("/404");
}

/* pro_alu_emp_id, fecha_inicio, fecha_fin, estado, curso, tutor_emp, comentarios, instituto_id, grupo_id, profesor_id, alumno_id, empresa_id */
---

<Layout title="Información de la practica" kind={1}>
    <Header />
    <main class="flex justify-center items-center grid-flow-col gap-10">
        { practica &&
        <div
            class="grid grid-cols-2 grid-rows-5 gap-2 py-10 px-8 bg-gray-300 rounded-lg shadow-md w-fit"
        >
            <div class="col-span-2 text-center">
                <h2 class="text-2xl font-semibold mb-2">
                    Información
                </h2>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Alumno</h2>
                <p class="text-gray-700">
                    <a href=`/alumno/${practica.alumno_id}`>
                    {practica.anombre}
                    </a>
                </p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Empresa</h2>
                <p class="text-gray-700">
                    <a href=`/empresa/${practica.empresa_id}`>
                    {practica.enombre}
                    </a>
                </p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Estado</h2>
                <p class="text-gray-700">{practica.estado}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Comentarios</h2>
                <p class="text-gray-700">{practica.comentarios}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Curso</h2>
                <p class="text-gray-700">{practica.curso}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Tutor</h2>
                <p class="text-gray-700">{practica.tutor_emp}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Fecha de Inicio</h2>
                <p class="text-gray-700">{practica.fecha_inicio}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Fecha de Fin</h2>
                <p class="text-gray-700">{practica.fecha_fin}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Fecha de Creación</h2>
                <p class="text-gray-700">{practica.fecha_creacion}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">
                    Fecha de Actualización
                </h2>
                <p class="text-gray-700">{practica.fecha_actualizacion}</p>
            </div>
            <div class="flex justify-center space-x-2 col-span-2 mt-6">
                <a
                    href=`/practica/editar/${practica.pro_alu_emp_id}`
                    class="bg-blue-500 hover:bg-blue-600 text-white rounded px-3 py-1 transition-colors duration-300"
                >
                    Editar
                </a>
            <BackBtn />
            </div>
            <span id="pro_alu_emp_id" class="hidden">{practica.pro_alu_emp_id}</span>
        </div>
        }
        <Popup
            title="¿Está seguro de desactivar la practica?"
            url=`/practica/desactivar/${practica.pro_alu_emp_id}`
        />
    </main>
    <Footer />
</Layout>

<script>
    let btnDesactivar = document.getElementById("btnDesactivar");
    let btnActivar = document.getElementById("btnActivar");
    let popup = document.getElementById("popup");
    let btnAceptar = document.getElementById("btnconfirm");
    let pra_id = document.getElementById("pro_alu_emp_id");
    let url = `http://${window.location.hostname}:${window.location.port}/api/practica/switch`;

    if (btnDesactivar) {
        btnDesactivar.addEventListener("click", () => {
            popup.style.display = "grid";
        });
    }

    if (btnAceptar) {
        btnAceptar.addEventListener("click", async () => {
            popup.style.display = "none";

            let data = {
                pro_alu_emp_id: pra_id.textContent,
                activo: 0,
            }

            const response = await fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });
        alert((await response.json()).message);
        if (response.ok) {
            window.location.reload();
        }
        });
    }
    if (btnActivar) {
        btnActivar.addEventListener("click", async () => {
            let data = {
                pro_alu_emp_id: pra_id.textContent,
                activo: 1,
            }

            const response = await fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });
        alert((await response.json()).message);
        if (response.ok) {
            window.location.reload();
        }
        });
    }
</script>
