---
import Layout from "@lay/Layout.astro";
import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
import Counter from "@comp/Counter.astro";
import prisma from "@db/index.js";

const empresas = await prisma.empresa.count();
const contactos = await prisma.contacto.count();
const institutos = await prisma.instituto.count();

const empresasConAlumnos = await prisma.empresa.count({
    where: {
        practicas: {
            some: {},
        },
    },
});

const alumnosConPracticas = await prisma.alumno.count({
    where: {
        practicas: {
            some: {},
        },
    },
});

const alumnosSinEmail = await prisma.alumno.count({
    where: {
        email: null,
    },
});

const alumnosSinNia = await prisma.alumno.count({
    where: {
        nia: null,
    },
});

const alumnosSinNuss = await prisma.alumno.count({
    where: {
        nuss: null,
    },
});
---

<Layout title="Inicio de FEPLA-CRM" kind={1}>
    <Header />
    <main class="flex flex-row gap-14 h-full *:ps-10 *:py-8">
        <div class="max-w-[200px] flex flex-1 flex-col gap-2">
            <h2 class="text-3xl font-semibold mb-2">Listados</h2>
            <a
                href="/empresa"
                class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-sm px-2 py-2 transition-colors w-28 text-center"
                >Empresas
            </a>
            <a
                href="/alumno"
                class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-sm px-2 py-2 transition-colors w-28 text-center"
                >Alumnos
            </a>
            <a
                href="/practica"
                class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-sm px-2 py-2 transition-colors w-28 text-center"
                >Prácticas
            </a>
            <a
                href="/contacto"
                class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-sm px-2 py-2 transition-colors w-28 text-center"
                >Contactos
            </a>
            <a
                href="/instituto"
                class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-sm px-2 py-2 transition-colors w-28 text-center"
                >Institutos
            </a>
            <a
                href="/vinculo"
                class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-sm px-2 py-2 transition-colors w-28 text-center"
                >Vínculos
            </a>
            <a
                href="/interaccion"
                class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-sm px-2 py-2 transition-colors w-28 text-center"
                >Interacciones
            </a>
        </div>
        <div class="flex-grow">
            <h2 class="text-3xl font-semibold mb-2">Bienvenido</h2>
            <p class="text-gray-700">
                En el CRM de FEPLA, puedes gestionar todos los alumnos,
                empresas, prácticas, grupos y institutos de FEPLA.
            </p>
            <p class="text-gray-700">
                Para empezar, puedes crear una nueva
                <a
                    class="text-blue-500 hover:underline hover:text-blue-800"
                    href="/empresa/nuevaempresa">empresa</a
                >,
                <a
                    class="text-blue-500 hover:underline hover:text-blue-800"
                    href="/alumno/nuevoalumno">alumno</a
                >,
                <a
                    class="text-blue-500 hover:underline hover:text-blue-800"
                    href="/practica/nuevapractica">práctica</a
                >, o
                <a
                    class="text-blue-500 hover:underline hover:text-blue-800"
                    href="/instituto/nuevoinstituto">instituto</a
                >.
            </p>
            <hr class="border-black border-solid my-4" />
            <div class="flex gap-2">
                {empresas > 0 && <Counter num={empresas} texto="empresa" />}
                {contactos > 0 && <Counter num={contactos} texto="contacto" />}
                {
                    institutos > 0 && (
                        <Counter num={institutos} texto="instituto" />
                    )
                }
                {
                    empresasConAlumnos > 0 && (
                        <Counter
                            num={empresasConAlumnos}
                            texto="empresa con alumnos"
                            textos="empresas con alumnos"
                        />
                    )
                }
                {
                    alumnosConPracticas > 0 && (
                        <Counter
                            num={alumnosConPracticas}
                            texto="alumno con práctica"
                            textos="alumnos con prácticas"
                        />
                    )
                }
            </div>
        </div>
        <div
            class="min-w-[300px] max-w-[550px] flex flex-col gap-2 overflow-hidden flex-1 bg-gray-300 rounded-lg m-2 shadow-lg"
        >
            <h2 class="text-3xl font-semibold mb-2">Avisos</h2>
            <ul class="text-gray-700 flex flex-col gap-1 text-lg">
                {
                    alumnosSinEmail > 0 && (
                        <Counter
                            num={alumnosSinEmail}
                            texto="alumno sin mail"
                            textos="alumnos sin email"
                        />
                    )
                }
                {
                    alumnosSinNia > 0 && (
                        <Counter
                            num={alumnosSinNia}
                            texto="alumno sin NIA"
                            textos="alumnos sin NIA"
                        />
                    )
                }
                {
                    alumnosSinNuss > 0 && (
                        <Counter
                            num={alumnosSinNuss}
                            texto="alumno sin NUSS"
                            textos="alumnos sin NUSS"
                        />
                    )
                }
            </ul>
        </div>
    </main>
    <Footer />
</Layout>
