---
import Layout from "@lay/Layout.astro";

import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
import BackBtn from "@comp/BackBtn.astro";
import prisma from "@db/index.js";

const { id } = Astro.params;

if (!Number(id)) {
    console.log("Id no válido");
    return Astro.redirect("/404");
}

const alumno = await prisma.alumno.findUnique({
    where: {
        id_alumno: Number(id),
    },
});

if (!alumno) {
    console.log("No hay registros con ese valor")
    return Astro.redirect("/404");
}
/* id_alumno, nombre*, apellidos, telefono, direccion, fecha_nacimiento, email*, nif, nia, nuss, comentarios, activo*, fecha_creacion*, fecha_actualizacion */
---

<Layout title="Confirmar eliminación del alumno" kind={1}>
    <Header />
    <main class="flex justify-center items-center grid-flow-col gap-10">
        <div
            class="grid grid-cols-2 grid-rows-5 gap-2 py-10 px-8 bg-gray-300 rounded-lg shadow-md w-fit"
        >
            <div class="col-span-2 text-center">
                <h2 class="text-2xl font-semibold text-red-500">
                    Confirmar eliminación del alumno
                </h2>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Nombre</h2>
                <p class="text-gray-700">{alumno.nombre}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Apellidos</h2>
                <p class="text-gray-700">{alumno.apellidos}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Telefono</h2>
                <p class="text-gray-700">{alumno.telefono}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Fecha de nacimiento</h2>
                <p class="text-gray-700">{alumno.fecha_nacimiento}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Email</h2>
                <p class="text-gray-700">{alumno.email}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">NIF</h2>
                <p class="text-gray-700">{alumno.nif}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">NIA</h2>
                <p class="text-gray-700">{alumno.nia}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">NUSS</h2>
                <p class="text-gray-700">{alumno.nif}</p>
            </div>
            <div class="col-span-2">
                <h2 class="text-xl font-semibold mb-2">Comentarios</h2>
                <p class="text-gray-700">{alumno.comentarios}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Fecha de Creación</h2>
                <p class="text-gray-700">{alumno.fecha_creacion}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">
                    Fecha de Actualización
                </h2>
                <p class="text-gray-700">{alumno.fecha_actualizacion}</p>
            </div>
            <div class="flex justify-center space-x-2 col-span-2 mt-6">
                <a
                    class="bg-red-500 hover:bg-red-600 text-white rounded px-3 py-1 transition-colors duration-300 cursor-pointer"
                >
                    Confirmar eliminación del alumno
                </a>
                <BackBtn />
            </div>
        </div>
    </main>
    <Footer />
</Layout>
