---
import Layout from "@lay/Layout.astro";
import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
import BackBtn from "@comp/BackBtn.astro";
import prisma from "@db/index.js";

const { id } = Astro.params;

if (!Number(id)) {
    console.log("Id no válido");
    return Astro.redirect("/404");
}

const practica = await prisma.practica.findUnique({
    where: {
        id_practica: Number(id),
    },
    include: {
        alumno: true,
        empresa: true,
        profesor: true,
        curso: true,
    },
});

if (!practica) {
    console.log("No hay registro con ese valor");
    return Astro.redirect("/404");
}

/* id_practica, fecha_inicio, fecha_fin, tipo_practica*, estado*, comentarios, fecha_creacion*, fecha_actualizacion, fk id_alumno, fk id_profesor, fk id_empresa, fk id_curso */
---

<Layout title="Confirmar eliminación de la práctica" kind={1}>
    <Header />
    <main class="flex justify-center items-center grid-flow-col gap-10">
        <div
            class="grid grid-cols-2 grid-rows-5 gap-2 py-10 px-8 bg-gray-300 rounded-lg shadow-md w-fit"
        >
            <div class="col-span-2 text-center">
                <h2 class="text-2xl font-semibold">
                    Confirmar eliminación de la práctica
                </h2>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Alumno</h2>
                <p class="text-gray-700">
                    <a
                        href={`/alumno/${practica.id_alumno}`}
                        class="text-blue-700 hover:text-blue-500 hover:underline"
                    >
                        {practica.alumno.nombre}
                        {practica.alumno.apellidos}
                    </a>
                </p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Empresa</h2>
                <p class="text-gray-700">
                    <a
                        href={`/empresa/${practica.id_empresa}`}
                        class="text-blue-700 hover:text-blue-500 hover:underline"
                        title={practica.empresa.nombre_empresarial}
                    >
                        {practica.empresa.nombre}
                    </a>
                </p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Profesor</h2>
                <p class="text-gray-700">
                    {practica.profesor.nombre}
                    {practica.profesor.apellidos}
                </p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Curso</h2>
                <p class="text-gray-700">{practica.curso.anio_academico}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Estado</h2>
                <p class="text-gray-700">{practica.estado}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Tipo de práctica</h2>
                <p class="text-gray-700">{practica.tipo_practica}</p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Fecha de Inicio</h2>
                <p class="text-gray-700">
                    {
                        new Date(
                            practica.fecha_inicio as Date,
                        ).toLocaleDateString("es-ES")
                    }
                </p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">Fecha de Fin</h2>
                <p class="text-gray-700">
                    {
                        new Date(practica.fecha_fin as Date).toLocaleDateString(
                            "es-ES",
                        )
                    }
                </p>
            </div>
            {
                practica.comentarios && (
                    <div class="col-span-2">
                        <h2 class="text-xl font-semibold mb-2">Comentarios</h2>
                        <p class="text-gray-700">{practica.comentarios}</p>
                    </div>
                )
            }
            <hr class="border-black border-solid col-span-2" />
            <div>
                <h2 class="text-xl font-semibold mb-2">Fecha de Creación</h2>
                <p class="text-gray-700">
                    {
                        new Date(practica.fecha_creacion)
                            .toLocaleString("es-ES")
                            .replace(",", "")
                    }
                </p>
            </div>
            <div>
                <h2 class="text-xl font-semibold mb-2">
                    Fecha de Actualización
                </h2>
                <p class="text-gray-700">
                    {
                        new Date(practica.fecha_actualizacion as Date)
                            .toLocaleString("es-ES")
                            .replace(",", "")
                    }
                </p>
            </div>
            <div class="flex justify-center space-x-2 col-span-2 mt-6">
                <a
                    class="bg-red-500 hover:bg-red-600 text-white rounded px-3 py-1 transition-colors duration-300"
                >
                    Confirmar eliminación de la práctica
                </a>
                <BackBtn />
            </div>
        </div>
    </main>
    <Footer />
</Layout>
