---
import Layout from "@lay/PdfLayout.astro";
import prisma from "@db/index.js";

const empresas = await prisma.empresa.findMany({
    include: {
        contactos: {
            include: {
                contacto: true,
            },
        },
    },
});
---

<Layout title="listaempresas">
    <main>
        <table>
            <thead>
                <tr>
                    <th colspan="9">Empresas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="w-[5%]">Id</th>
                    <th class="w-[15%]">Nombre</th>
                    <th class="w-[20%]">Dirección</th>
                    <th class="w-[10%]">CIF</th>
                    <th class="w-[15%]">Sitio web</th>
                    <th class="w-[10%]">Sector</th>
                    <th class="w-[10%]">Tecnologías</th>
                    <th class="w-[15%]">Comentarios</th>
                    <th class="w-[5%] min-w-[75px]">Activo</th>
                </tr>
            </tbody>
        </table>
        {
            empresas.map((empresa) => (
                <table>
                    <thead>
                        <tr>
                            <th colspan="9">{empresa.nombre}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="w-[5%]">{empresa.id_empresa}</td>
                            <td class="w-[15%]">
                                {empresa.nombre_empresarial}
                            </td>
                            <td class="w-[20%]">{empresa.direccion}</td>
                            <td class="w-[10%]">{empresa.cif}</td>
                            <td class="w-[15%]">{empresa.sitio_web}</td>
                            <td class="w-[10%]">{empresa.sector}</td>
                            <td class="w-[10%]">{empresa.tecnologias}</td>
                            <td class="w-[15%]">{empresa.comentarios}</td>
                            <td class="text-center w-[5%] min-w-[75px]">
                                {empresa.activo ? "Sí" : "No"}
                            </td>
                        </tr>
                        {empresa.contactos.length != 0 && (
                            <tr>
                                <td class="!p-0 !border-none" colspan="9">
                                    <table class="stable">
                                        <thead>
                                            <tr>
                                                <th class="w-[33.33%]">
                                                    Contacto
                                                </th>
                                                <th class="w-[33.33%]">
                                                    Teléfono
                                                </th>
                                                <th class="w-[33.33%]">
                                                    Email
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {empresa.contactos.map(
                                                (contacto) => (
                                                    <tr>
                                                        <td class="w-[33.33%]">
                                                            {contacto.contacto
                                                                .nombre +
                                                                " " +
                                                                contacto
                                                                    .contacto
                                                                    .apellidos}
                                                        </td>
                                                        <td class="w-[33.33%]">
                                                            {
                                                                contacto
                                                                    .contacto
                                                                    .telefono
                                                            }
                                                        </td>
                                                        <td class="w-[33.33%]">
                                                            {
                                                                contacto
                                                                    .contacto
                                                                    .email
                                                            }
                                                        </td>
                                                    </tr>
                                                ),
                                            )}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        )}
                    </tbody>
                </table>
            ))
        }
    </main>
    <script is:inline type="module">
        window.print();
        window.onafterprint = () => {
            window.history.back();
        };
    </script>
</Layout>
<style>
    @page {
        size: A4;
        margin: 0;
    }

    @media print {
        main {
            width: 100%;
            padding: 20px 2rem;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1rem;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        main > table td,
        main > table th {
            border: 1px solid black;
            padding: 5px;
        }

        .stable {
            border: none;
            border-collapse: collapse;
            width: 100%;
        }

        .stable td,
        .stable th {
            border: 1px solid black;
            padding: 5px;
        }
    }

    main {
        width: 100%;
        padding: 20px 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }

    table {
        width: 100%;
        border-collapse: collapse;
    }

    main > table td,
    main > table th {
        border: 1px solid black;
        padding: 5px;
    }

    .stable {
        border: none;
        border-collapse: collapse;
        width: 100%;
    }

    .stable td,
    .stable th {
        border: 1px solid black;
        padding: 5px;
    }
</style>
