---
import Layout from "@lay/Layout.astro";
import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
import BackBtn from "@comp/BackBtn.astro";
import prisma from "@db/index.js";

const rows = await prisma.empresa.findMany();

/* id_empresa, nombre*, nombre_empresarial, direccion, cif, sitio_web, sector, tecnologias, comentarios, activo*, fecha_creacion*, fecha_actualizacion  */
---

<Layout title="Lista de empresas">
    <Header />
    <div class="flex justify-between w-full px-5 py-2 h-fit">
        <h2 class="text-3xl">Listado de empresas</h2>
        <div class="flex gap-4">
            <label class="flex items-center border px-3 gap-3 rounded border-gray-700 text-sm font-medium">
                <span>Activo</span>
                <input id="activo-checkbox" type="checkbox" class="text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" checked>
            </label>
            <input
                id="busqueda"
                class="bg-gray-700 border border-gray-300 text-white text-sm rounded-lg p-1.5"
                type="text"
                placeholder="Nombre de la empresa"
            />
            <button
                id="btnbuscar"
                type="button"
                class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-sm px-2 py-2 transition-colors"
                >Buscar</button
            >
            <a
                href="/empresa/nuevaempresa"
                class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-sm px-2 py-2 transition-colors"
                >Nueva empresa</a
            >
            <BackBtn />
        </div>
    </div>
    <main class="px-20 py-5">
        <div
            class="max-h-[68vh] overflow-y-auto bg-transparent shadow-md rounded-lg"
        >
            <table class="min-w-full bg-white overflow-y-auto">
                <thead class="bg-gray-100">
                    <tr class="border-b-2 border-black border-solid">
                        <th
                            class="px-4 py-3 text-left text-sm font-semibold text-gray-600"
                            >Nombre</th
                        >
                        <th
                            class="px-4 py-3 text-left text-sm font-semibold text-gray-600"
                            >Nombre Oficial</th
                        >
                        <th
                            class="px-4 py-3 text-left text-sm font-semibold text-gray-600"
                            >Dirección</th
                        >
                        <th
                            class="px-4 py-3 text-left text-sm font-semibold text-gray-600"
                            >Sitio web</th
                        >
                        <th
                            class="px-4 py-3 text-center text-sm font-semibold text-gray-600"
                            >Acciones</th
                        >
                    </tr>
                </thead>
                <tbody class="divide-y divide-gray-200">
                    {
                        rows.map((empresa) => (
                        empresa.activo ? (
                            <tr class="hover:bg-gray-100" data-active="true">
                                <td class="px-4 py-3 text-sm text-gray-900">{empresa.nombre}</td>
                                <td class="px-4 py-3 text-sm text-gray-900">{empresa.nombre_empresarial}</td>
                                <td class="px-4 py-3 text-sm text-gray-500">{empresa.direccion}</td>
                                <td class="px-4 py-3 text-sm text-blue-500 hover:underline">
                                    <a
                                        href={`https://${empresa.sitio_web}`}
                                        target="_blank"
                                        rel="noopener noreferrer"
                                    >
                                        {empresa.sitio_web}
                                    </a>
                                </td>
                                <td class="px-4 py-3 text-sm text-right">
                                    <div class="flex justify-center space-x-2">
                                        <a
                                            href=`/empresa/editar/${empresa.id_empresa}`
                                            class="bg-blue-500 hover:bg-blue-600 text-white rounded px-3 py-1 transition-colors duration-300">
                                            Editar
                                        </a>
                                        <a
                                            href=`/empresa/${empresa.id_empresa}`
                                            class="bg-gray-500 hover:bg-gray-600 text-white rounded px-3 py-1 transition-colors duration-300">
                                            Detalles
                                        </a>
                                        <a
                                            href=`/interaccion/empresa/${empresa.id_empresa}`
                                            class="bg-green-500 hover:bg-green-600 text-white rounded px-3 py-1 transition-colors duration-300">
                                            Crear interacción
                                        </a>
                                    </div>
                                </td>
                            </tr>
                        ) : (
                            <tr class="hover:bg-gray-100 hidden" data-active="false">
                                <td class="px-4 py-3 text-sm text-gray-900">{empresa.nombre}</td>
                                <td class="px-4 py-3 text-sm text-gray-900">{empresa.nombre_empresarial}</td>
                                <td class="px-4 py-3 text-sm text-gray-500">{empresa.direccion}</td>
                                <td class="px-4 py-3 text-sm text-blue-500 hover:underline">
                                    <a
                                        href={`https://${empresa.sitio_web}`}
                                        target="_blank"
                                        rel="noopener noreferrer"
                                    >
                                        {empresa.sitio_web}
                                    </a>
                                </td>
                                <td class="px-4 py-3 text-sm text-right">
                                    <div class="flex justify-center space-x-2">
                                        <a
                                            href=`/empresa/editar/${empresa.id_empresa}`
                                            class="bg-blue-500 hover:bg-blue-600 text-white rounded px-3 py-1 transition-colors duration-300">
                                            Editar
                                        </a>
                                        <a
                                            href=`/empresa/${empresa.id_empresa}`
                                            class="bg-gray-500 hover:bg-gray-600 text-white rounded px-3 py-1 transition-colors duration-300">
                                            Detalles
                                        </a>
                                        <a
                                            href=`/interaccion/empresa/${empresa.id_empresa}`
                                            class="bg-green-500 hover:bg-green-600 text-white rounded px-3 py-1 transition-colors duration-300">
                                            Crear interacción
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            )
                        ))
                    }
                </tbody>
            </table>
        </div>
    </main>
    <Footer />
</Layout>

<script is:inline type="module">
    const activeCb = document.querySelector("#activo-checkbox");
    const inputBusqueda = document.querySelector("#busqueda");
    const btnBusqueda = document.querySelector("#btnbuscar");
    const rows = document.querySelectorAll("tr[data-active=false]");
    const allrows = document.querySelectorAll("tr[data-active]");
    const activerows = document.querySelectorAll("tr[data-active=true]");
    
    activeCb.addEventListener("change", () => {
        activerows.forEach(row => {
            row.classList.toggle("hidden");
        })
        rows.forEach(row => {
            row.classList.toggle("hidden");
        });
    });

    btnBusqueda.addEventListener("click", () => {
        const textoBusqueda = inputBusqueda.value.toLowerCase();
        allrows.forEach(row => {
            const td = row.querySelector("td");
            let textoCelda = td.textContent.toLowerCase();
            if (textoCelda.includes(textoBusqueda)) {
                row.classList.remove("hidden");
            } else {
                row.classList.add("hidden");
            }
        });
    });

    inputBusqueda.addEventListener("keydown", (e) => {
        if (e.key === "Enter") {
            btnBusqueda.click();
        }
    });

</script>
