---
import Layout from "../../../layouts/Layout.astro";

import { tursodb } from "@r/astro.config.mjs";
import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
import FormElement from "@comp/FormElement.astro";
import BackBtn from "@comp/BackBtn.astro";

const { id } = Astro.params;

const { rows } = await tursodb.execute({
    sql: `SELECT * FROM alumno WHERE alumno_id = $id;`,
    args: {
        id: id,
    },
});

const alumno = rows[0];

if (!alumno.activo) {
    return Astro.redirect(`/alumno/${alumno.alumno_id}`);
}

const { rows: grows } = await tursodb.execute("SELECT * FROM grupo;");
const { rows: irows } = await tursodb.execute("SELECT * FROM instituto;");

const grupo_alumno = grows.filter((row) => row.grupo_id == alumno.grupo_id)[0];
const instituto_alumno = irows.filter((row) => row.instituto_id == alumno.instituto_id)[0];

// const alumno = {
//     alumno_id: id,
//     nombre: `Alumno ${id}`,
//     apellidos: `Apellidos ${id}`,
//     telefono: `6666666${id}`,
//     fecha_nacimiento: `2000-01-01`,
//     email: `alumno${id}@alumno.com`,
//     nif: `B12345678${id}`,
//     nia: `B12345678${id}`,
//     nuss: `B12345678${id}`,
//     comentarios: `comentarios ${id}`,
//     fecha_creacion: `2000-01-01`,
//     fecha_actualizacion: `2000-01-01`,
//     activo: true,
//     instituto_id: 1,
//     grupo_id: 1,
// };
/* alumno_id, nombre, apellidos, telefono, fecha_nacimiento, email, nif, nia, nuss, comentarios, fecha_creacion, fecha_actualizacion, activo, grupo_id, instituto_id */
---

<Layout title="Modificaci贸n del alumno" kind={1}>
    <Header />
    <main class="flex justify-center items-center grid-flow-col gap-10">
        <form
            class="bg-gray-300 rounded-lg shadow-md w-fit py-10 px-8 flex flex-col"
            id="formedit"
        >
            <fieldset class="grid grid-cols-2 grid-rows gap-2 py-5 px-4">
                <legend
                    class="px-1.5 bg-[#476683] rounded-md text-white text-center text-2xl font-semibold"
                >
                    Modificaci贸n de un alumno
                    <span id="alumno_id" class="hidden">{alumno.alumno_id}</span
                    >
                </legend>
                <FormElement
                    texto="nombre"
                    placehold={alumno.nombre as string}
                    value={alumno.nombre as string}
                    isrequired={true}
                />
                <FormElement
                    texto="apellidos"
                    placehold={alumno.apellidos as string}
                    value={alumno.apellidos as string}
                />
                <FormElement
                    texto="telefono"
                    placehold={alumno.telefono as string}
                    value={alumno.telefono as string}
                />
                <FormElement
                    texto="fecha_nacimiento"
                    type="date"
                    placehold={alumno.fecha_nacimiento as string}
                    value={alumno.fecha_nacimiento as string}
                />
                <FormElement
                    texto="email"
                    type="email"
                    placehold={alumno.email as string}
                    value={alumno.email as string}
                />
                <FormElement
                    texto="nif"
                    placehold={alumno.nif as string}
                    value={alumno.nif as string}
                />
                <FormElement
                    texto="nia"
                    placehold={alumno.nia as string}
                    value={alumno.nia as string}
                />
                <FormElement
                    texto="nuss"
                    placehold={alumno.nuss as string}
                    value={alumno.nuss as string}
                />
                <FormElement
                    classes="col-span-2 w-full"
                    texto="comentarios"
                    placehold="..."
                    value={alumno.comentarios as string}
                    type="textarea"
                />

                <div
                    class="flex flex-col p-2 gap-1.5 bg-gray-400 rounded-lg shadow-md drop-shadow-md"
                >
                    Grupo *
                    <input
                        class="bg-gray-700 border border-gray-400 text-white text-sm rounded-lg p-1.5"
                        type="text"
                        id="grupo_id"
                        list="grupos"
                        value=`${grupo_alumno.nombre} (${alumno.grupo_id})`
                    />
                </div>
                <div
                    class="flex flex-col p-2 gap-1.5 bg-gray-400 rounded-lg shadow-md drop-shadow-md"
                >
                    Instituto *
                    <input
                        class="bg-gray-700 border border-gray-400 text-white text-sm rounded-lg p-1.5"
                        type="text"
                        id="instituto_id"
                        list="institutos"
                        value=`${instituto_alumno.nombre} (${alumno.instituto_id})`
                    />
                </div>
                <datalist id="grupos">
                    {
                        grows.map((row) => (
                            <option value=`${row.nombre} (${row.grupo_id})` />
                        ))
                    }
                </datalist>
                <datalist id="institutos">
                    {
                        irows.map((row) => (
                            <option value=`${row.nombre} (${row.instituto_id})` />
                        ))
                    }
                </datalist>
                <div>
                    <h2 class="text-xl font-semibold mb-2">
                        Fecha de Creaci贸n
                    </h2>
                    <p class="text-gray-700">
                        {alumno.fecha_creacion}
                    </p>
                </div>
                <div>
                    <h2 class="text-xl font-semibold mb-2">
                        Fecha de Actualizaci贸n
                    </h2>
                    <p class="text-gray-700">
                        {alumno.fecha_actualizacion}
                    </p>
                </div>
            </fieldset>
            <div class="text-center">
                <button
                    type="submit"
                    id="btnsubmit"
                    class="bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-sm px-2 py-2 transition-colors mx-auto"
                    >Modificar alumno</button
                >
                <BackBtn title="Los cambios no se guardaran" />
            </div>
        </form>
        <!-- grid grid-cols-2 grid-rows-5 -->
    </main>
    <Footer />
</Layout>

<script>
    const form = document.querySelector("#formedit") as HTMLFormElement;
    const alu_id = document.querySelector("#alumno_id");
    const url = `http://${window.location.hostname}:${window.location.port}/api/alumno/modify`;

    form.addEventListener("submit", (e) => {
        // Peticion para modificar el alumno
        // Posibilidad de verificar si ha habido algun cambio
        e.preventDefault();

        const data = {
            alumno_id: alu_id.textContent,
            nombre: form.nombre.value,
            apellidos: form.apellidos.value,
            telefono: form.telefono.value,
            fecha_nacimiento: form.fecha_nacimiento.value,
            email: form.email.value,
            nif: form.nif.value,
            nia: form.nia.value,
            nuss: form.nuss.value,
            comentarios: form.comentarios.value,
            grupo_id: form.grupo_id.value,
            instituto_id: form.instituto_id.value,
        };

        fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        })
            .then((response) => response.json())
            .then((json) => {
                console.log(json.message);
                // window.location.href = `/alumno/${alu_id.textContent}`;
                window.location.reload();
            });
    });
</script>
