---
import Layout from "@lay/Layout.astro";
import Header from "@comp/Header.astro";
import Footer from "@comp/Footer.astro";
import FormElement from "@comp/FormElement.astro";
import BackBtn from "@comp/BackBtn.astro";
import Details from "@comp/Details.astro";
import AdminLoggedIn from "@comp/AdminLoggedIn.astro";

/* Profesor: id_profesor, nombre, apellidos, telefono, nif, nip, comentarios, fecha_creacion*, fecha_actualizacion */
/* Usuario: id_usuario, usuario*, email*, contrasena*, rol*, activo*, id_profesor*/
---

<AdminLoggedIn />
<Layout title="Nuevo Profesor" kind={1}>
    <Header admin={true} />
    <main class="grid place-content-center">
        <form
            class="bg-gray-300 rounded-lg shadow-md py-10 px-8 flex flex-col min-w-fit w-[500px]"
            id="formnew"
        >
            <fieldset class="grid justify-center grid-cols-2 gap-2 py-5 px-4">
                <legend
                    class="px-1.5 bg-[#476683] rounded-md text-white text-center text-2xl font-semibold"
                    >Añade un nuevo profesor</legend
                >
                <FormElement
                    texto="nombre"
                    placehold="David"
                    isrequired={true}
                />
                <FormElement
                    texto="email"
                    placehold="d.perezpastor@edu.gva.es"
                    isrequired={true}
                />
                <FormElement
                    texto="usuario"
                    placehold="dperpas"
                    isrequired={true}
                />
                <FormElement
                    texto="contraseña"
                    placehold="********"
                    type="password"
                    isrequired={true}
                />
                <Details title="Información adicional" classes="col-span-2">
                    <FormElement
                        texto="apellidos"
                        placehold="Pérez Pastor"
                        type="textarea"
                    />
                    <FormElement texto="telefono" placehold="123456789" />
                    <FormElement texto="nif" placehold="12345678A" />
                    <FormElement texto="nip" placehold="12345678" />
                    <FormElement
                        classes="col-span-2 w-full"
                        texto="comentarios"
                        placehold="..."
                        type="textarea"
                    />
                </Details>
            </fieldset>
            <div class="text-center">
                <button
                    type="submit"
                    id="btnsubmit"
                    class="mx-auto bg-blue-700 hover:bg-blue-800 text-white rounded-lg text-sm px-2 py-2 transition-colors"
                    >Añadir nuevo profesor</button
                >
                <BackBtn title="Los cambios no se guardaran" />
            </div>
        </form>
    </main>
    <Footer />
</Layout>

<script is:inline type="module">
    import { apiurl, data } from "/utils.js";
    const form = document.querySelector("form");

    async function sendData(e) {
        e.preventDefault();

        data.nombre = form.nombre.value;
        data.email = form.email.value;
        data.usuario = form.usuario.value;
        data.contrasena = form.contraseña.value;
        data.apellidos = form.apellidos.value;
        data.telefono = form.telefono.value;
        data.nif = form.nif.value;
        data.nip = form.nip.value;
        data.comentarios = form.comentarios.value;

        Object.keys(data).forEach((key) => {
            if (data[key] == "") data[key] = null;
        });

        const response = await fetch(apiurl + "/admin", {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });

        if (response.ok) {
            const json = await response.json();
            alert(json.message);
            window.location.href = "/admin";
        } else {
            alert((await response.json()).message);
        }
    }

    form.addEventListener("submit", sendData);
    /* alert("Alta de profesor"); */
</script>
